<div class="side-nav">
  <div class="top-icons">
    <mat-icon
      class="material-icons-round icon"
      aria-hidden="false"
      aria-label="Ícone de usuário"
      >grid_view</mat-icon
    >
    <mat-icon
      class="material-icons-round icon inactive"
      aria-hidden="false"
      aria-label="Ícone de usuário"
      >account_circle</mat-icon
    >
  </div>

  <div class="bottom-icons">
    <mat-icon
      class="material-icons-round icon inactive"
      aria-hidden="false"
      aria-label="Ícone de usuário"
      >logout</mat-icon
    >
  </div>
</div>
