.products {
  h4 {
    margin: 0 0 10px 0;
  }

  .table {
    border-radius: 10px;

    > mat-card {
      border-radius: 10px 10px 0px 0px;
    }

    .header-table {
      border-bottom: 1px solid #e0e0e0;
      padding: 0px;

      .header-filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 60px;
        margin-bottom: 15px;

        .text-search-input {
          background-color: #f3f3f3;
          border-radius: 8px;
          padding: 0 16px;
          height: 40px;
          width: 270px;
          outline: none;
          border: none;
          color: #5d5d5d;
        }

        .button-transparent {
          background-color: transparent;
          background-repeat: no-repeat;
          border: none;
          cursor: pointer;
          overflow: hidden;
          outline: none;
        }
      }
    }

    .product-line {
      cursor: pointer;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}

:host {
  .mat-raised-button {
    border-radius: 8px !important;
    width: 90px;
    min-height: 40px;
  }
}
