<loading-container *ngIf="!isLoaded"></loading-container>
<div *ngIf="isLoaded" class="manage-product">
  <form [formGroup]="clientForm" class="form">
    <div class="top-section">
      <div class="left-section">
        <h4>Informações do Cliente</h4>

        <mat-form-field class="field-full-width" appearance="outline">
          <mat-label>Nome</mat-label>
          <input formControlName="name" matInput form />
        </mat-form-field>

        <div class="address-field">
          <mat-form-field class="field-full-width" appearance="outline">
            <mat-label>CEP</mat-label>
            <input formControlName="cep" mask="00.000-000" matInput form />
          </mat-form-field>

          <mat-form-field class="field-full-width" appearance="outline">
            <mat-label>Endereço</mat-label>
            <input formControlName="address" matInput form />
          </mat-form-field>
        </div>

        <div class="contact-field">
          <mat-form-field class="field-full-width" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input formControlName="email" matInput form />
          </mat-form-field>

          <mat-form-field class="field-full-width" appearance="outline">
            <mat-label>Celular</mat-label>
            <input formControlName="phoneNumber" mask="(00) 00000-0000" matInput form />
          </mat-form-field>
        </div>

        <!--
        <div *ngIf="isEdition" class="dates">
          <mat-form-field class="date-field" appearance="outline">
            <mat-label>Data de Criação</mat-label>
            <input formControlName="createdAt" type="datetime-local" matInput />
          </mat-form-field>

          <mat-form-field class="date-field" appearance="outline">
            <mat-label>Data de Atualização</mat-label>
            <input formControlName="updatedAt" type="datetime-local" matInput />
          </mat-form-field>
        </div> -->
      </div>

      <div class="right-section">
        <!-- <mat-form-field
          class="field-full-width model-field"
          appearance="outline"
        >
          <mat-label>Modelo</mat-label>
          <textarea
            matInput
            formControlName="model"
            placeholder="Ex. 100 Main St"
          ></textarea>
        </mat-form-field> -->
      </div>
    </div>

    <div class="bottom-section"></div>
  </form>
  <div class="action-buttons">
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Salvar
    </button>
  </div>
</div>
