.products {
  h4 {
    margin: 0 0 10px 0;
  }

  .table {
    border-radius: 10px;

    > mat-card {
      border-radius: 10px 10px 0px 0px;
    }

    .header-table {
      border-bottom: 1px solid #e0e0e0;
      padding: 0px;

      .header-filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 60px;
        margin-bottom: 15px;

        .text-search-input {
          background-color: #f3f3f3;
          border-radius: 8px;
          padding: 0 16px;
          height: 40px;
          width: 270px;
          outline: none;
          border: none;
          color: #5d5d5d;
        }

        .button-transparent {
          background-color: transparent;
          background-repeat: no-repeat;
          border: none;
          cursor: pointer;
          overflow: hidden;
          outline: none;
        }
      }
    }

    .product-line {
      cursor: pointer;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}

:host {
  .mat-raised-button {
    border-radius: 8px !important;
    width: 90px;
    min-height: 40px;
  }
}

@media screen and (max-width: 960px) {
  mat-table {
    border: 0;
    vertical-align: middle;
  }

  mat-table caption {
    font-size: 1em;
  }

  /*  Enable this to hide header
  mat-table .mat-header-cell {

    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  */
  mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  /*
  mat-table .mat-row:nth-child(even) {background: #CCC}
  mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: 30px;
    margin-bottom: 4%;
  }
  mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: 0.85em;
  }
  mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}
