.login {
  height: 100%;
  display: flex;
  flex-direction: row;

  .left-section,
  .right-section {
    height: 100%;
    width: 50%;
  }

  .left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .background {
      background: url("../../../../assets/imgs/login/container.jpg") no-repeat
        60% 55%;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      opacity: 0.8;
    }

    .logo {
      position: absolute;
      display: flex;
      justify-content: center;
      flex-direction: column;

      h1 {
        margin-left: 20px;
        margin-top: 6px;
      }

      img {
        width: 150px;
      }
    }
  }

  .right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-login {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 50%;

      h1 {
        font-weight: 500;
      }

      .field {
        width: 100%;

        &.password {
          position: relative;
          z-index: 0;

          .icon-password {
            position: absolute;
            right: 5px;
            top: 9px;
            transition: all 0.3s;
            cursor: pointer;
            z-index: 1;
          }
        }
      }

      .checkbox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 0px;
        font-size: 14px;
      }

      .login-button {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}
